.customer-navbar {
  box-shadow: 0px 2px 8px #fffffd1a;
  margin-bottom: 20px;
}

/* Brand styling */
.customer-navbar .navbar-brand {
  font-size: 1.3rem;
  font-weight: bold;
}

/* This pushes the .log div (and thus the button) to the right */
.customer-navbar .log {
  margin-left: auto;
}
.navbar .datetime {
  font-size: 1.3rem;
  opacity: 0.85;
  color: #110202;
}
/* Button styling */
.customer-navbar button {
  background: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 5px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.customer-navbar button:hover {
  background: #c82333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
