<div class="customer-dashboard-container">
  <!-- Navbar at the top -->
  <app-nabbar></app-nabbar>

  <div class="dashboard-body">
    <!-- Sidebar on the left -->
    <app-sidebar></app-sidebar>

    <!-- Main content area -->
    <div class="dashboard-content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Professional Footer -->
  <footer class="footer">
    <div class="container text-center">
      <p>
        <!-- <i class="fas fa-envelope"></i> teddy-anangwe.vercel.app | -->
        <i class="fas fa-phone"></i> +254 (746) 711570      </p>
    </div>
  </footer>
</div>
