<div class="customer-sidebar">
    <ul>
      <li>
        <a routerLink="/customer/profile"><i class="fas fa-user"></i> Profile</a>
      </li>
      <li>
        <a routerLink="/customer/linked-accounts"><i class="fas fa-university"></i> My Accounts</a>
      </li>
      <li>
        <a routerLink="/customer/mini-statement"><i class="fas fa-receipt"></i> Mini-Statement</a>
      </li>
      <li>
        <a routerLink="/customer/deposit-withdraw"><i class="fas fa-money-check-alt"></i> Deposit/Withdraw</a>
      </li>
      <li>
        <a routerLink="/customer/transfer-funds"><i class="fas fa-exchange-alt"></i> Transfer Funds</a>
        
      </li>
      <li><a routerLink="/customer/notifications"><i class="fas fa-bell"></i> Notifications</a></li>
    </ul>
  </div>
  