.customer-sidebar {
    background: #e5e7e7;
    color: #1f0303;
    padding: 20px;
    width: 220px;
    min-height: calc(100vh - 60px); /* Adjust based on navbar height */
  }
  
  .customer-sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .customer-sidebar li {
    margin: 15px 0;
  }
  
  .customer-sidebar a {
    color: #331e1e;
    text-decoration: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .customer-sidebar a i {
    margin-right: 10px;
  }
  
  .customer-sidebar a:hover {
    transform: translateX(5px);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  }
  